// @method: html
// @usage: @include html(#222,1em,1.4,#fff);

@mixin html($color: #222, $font-size: 1em, $line-height: 1.4, $background: #fff) {
    @if type_of($color) == color {
        color: $color;
    }
    @if (unit($font-size)) {
        font-size: $font-size;
    }
    @if (unit($line-height)) {
        line-height: $line-height;
    }
    @if type_of($background) == color {
        background-color: $background;
    } @else if $background {
        @include background($background);
    }
}
