// @method: unset-distances
// @usage: @include unset-distances;

@mixin unset-distances() {
    margin: 0;
    padding: 0;
}

// @method: unset-list
// @usage: @include unset-list;

@mixin unset-list() {
    @include unset-distances;
    list-style: none;

    li {
        @include unset-distances;
    }
}

// @method: unset-outline
// @usage: @include unset-outline;

@mixin unset-outline() {
    outline: 0 none !important;

    &:hover,
    &:focus,
    &:visited,
    &:active {
        outline: 0 none !important;
    }
    &::-moz-focus-inner {
        border: 0 solid transparent;
    }
}

// @method: unset-span-column
// @usage: @include unset-span-column;

@mixin unset-span-column() {
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    width: auto;
    float: inherit;
    display: block;
}

// @method: unset-offset
// @usage: @include unset-offset;

@mixin unset-offset() {
    margin-left: 0;
    margin-right: 0;
}

// @method: unset-outer-container
// @usage: @include unset-outer-container;

@mixin unset-outer-container() {
    width: auto;
}
